/* FONTS */
@font-face {
  font-family: "Catamaran";
  src: url(../fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Vidaloka";
  src: url(../fonts/Vidaloka/Vidaloka-Regular.ttf);
}
:root {
  --primary-orange: #fc7523;
  --primary-background: #f5f5f1;
  --primary-gray: #333338;
  font-family: Catamaran;
}
/* body {
  overflow-x: hidden;
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background);
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

header {
  background-color: var(--primary-background);
  padding: 30px 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #85817a;
}

.social > ul {
  display: flex;
}

/* ios botton */
.social > ul:first-child > li:first-child {
  margin-right: 5px;
}
.social > ul:first-child > li:nth-child(2) {
  background: var(--primary-orange);
  padding: 0px 7px;
  border-radius: 5px;
}
.social > ul:first-child > li:nth-child(2) > a {
  transform: scale(5%);
  font-size: 12px;
  color: white;
}
.social > ul:first-child > li:nth-child(2) > a:hover {
  color: white;
}

/* download */
.social > ul:first-child > li {
  margin-right: 15px;
  font-size: 14px;
}
.social > ul:first-child > li > a {
  color: #85817a;
  transition: all 0.5s;
}
.social > ul:first-child > li > a:hover {
  color: var(--primary-orange);
}

/* social icons */
.social > ul:last-child > li {
  font-size: 18px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  align-items: center;
  height: 28px;
  width: 28px;
  transition: all 0.5s;
}
.social > ul:last-child > li:hover {
  background-color: white;
  border-radius: 5px;
}
.social > ul:last-child > li > a > i {
  color: #85817a;
}

/* social icons tringle */
.social > ul:last-child > li:hover > a::before {
  border-bottom: 7px solid #333338;
}
.social > ul:last-child > li > a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  transition: all 0.5s;
}

/* social icons bottom */
.social > ul:last-child > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 20px);
  background-color: transparent;
  border-radius: 5px;
  font-size: small;
  color: transparent;
  padding: 5px;
  transition: all 0.5s;
}
.social > ul:last-child > li:hover > a::after {
  color: var(--primary-background);
  background-color: #333338;
}
.social > ul:last-child > li:nth-child(1) > a::after {
  content: "Facebook";
}
.social > ul:last-child > li:nth-child(2) > a::after {
  content: "Instagram";
}
.social > ul:last-child > li:nth-child(3) > a::after {
  content: "X";
}
.social > ul:last-child > li:nth-child(4) > a::after {
  content: "YouTube";
}
/* AVADA FOOD LOGO */
.social .logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../images/avada-food-logo.svg);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: top center;
}

/* PAGES NAV */
.navigation > label > i {
  visibility: hidden;
  opacity: 0;
}
.navigation {
  margin-top: 90px;
}
.menu {
  z-index: 10;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.menu > li > a {
  color: #333338;
  padding: 12px;
  margin: 17px;
  transition: all 0.5s;
  position: relative;
}
.navigation > ul > li > a:hover {
  color: var(--primary-orange);
}
.navigation > ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-orange);
  transition: all 0.3s;
}
.navigation > ul > li > a:hover::after {
  width: 100%;
}
/* home page botton */
#selected {
  color: var(--primary-orange);
}
#selected::after {
  width: 100%;
}

/* hide search box */
#search-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* TODAYS PICKS - h1 section */
.top-restaurant {
  height: 85vh;
  width: 100%;
  background: url(../images/todays-picks.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.todays-picks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  max-width: 700px;
  padding: 50px 0;
}
.todays-picks > h1 {
  font-size: 40px;
  font-family: "Vidaloka";
  font-weight: 100;
}
.todays-picks > span {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-orange);
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
.todays-picks > time {
  color: #85817a;
}

/* foodie journal */

.foodie-journal > .container {
  background-color: white;
  position: relative;
  top: -80px;
  border-radius: 15px;
  /* padding: 0 40px; */
  padding-bottom: 25px;
}
.foodie-journal > .container > section {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cacaca;
  margin: 0 auto 40px auto;
  width: 90%;
}
.foodie-journal > .container > section > h2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  background: white;
  width: fit-content;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 600;
}
.food-types {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3vw;
  text-align: center;
}
.foodie-image {
  overflow: hidden;
  margin-bottom: 20px;
}
.foodie-image > img {
  width: 100%;
  cursor: pointer;
  object-position: center center;
  transition: all 0.5s;
  overflow: hidden;
}
.foodie-image > img:hover {
  transform: scale(1.1);
}

.food-types > section > h3 {
  margin-bottom: 20px;
}
.food-types > section > h3 > a {
  color: #333338;
  font-family: "Vidaloka";
  font-weight: 500;
  transition: all 0.3s;
  padding: 0 10px;
}
.food-types > section > h3 > a:hover {
  color: var(--primary-orange);
}
.food-types > section > span > a {
  transition: all 0.5s;
}
.food-types > section > span:hover > a {
  color: var(--primary-orange);
}
.food-types > section > time {
  color: #85817a;
}

/* popular recipes */
.popular-recipes-text {
  text-align: center;
  padding: 0 40px;
}
.popular-recipes-text > h2 {
  text-transform: uppercase;
  color: #333338;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.popular-recipes-text > p {
  color: #85817a;
  font-size: 17;
  margin-bottom: 70px;
}

.popular-recipes-inner {
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}

/* favourite-salad */
.favourite-salad {
  background-color: white;
  cursor: pointer;
  transition: all 0.4s;
  padding-bottom: 35px;
  width: 48%;
  margin-bottom: 50px;
}
.favourite-salad:hover {
  transform: scale(1.035);
}
.favourite-salad > img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 35px;
}
.favourite-salad h3,
.favourite-salad p,
.favourite-salad > a {
  width: 90%;
  margin: 0 auto;
}
.favourite-salad > h3 {
  margin-bottom: 8px;
}
.favourite-salad > h3 > a {
  font-family: "vidaloka";
  font-size: 22px;
  font-weight: 550;
  transition: all 0.4s;
}
.favourite-salad > h3 > a:hover {
  color: var(--primary-orange);
}

.favourite-salad > p,
.favourite-salad > p > a {
  color: #85817a;
  margin-bottom: 50px;
  transition: all 0.4s;
}
.favourite-salad > p > a:hover {
  color: var(--primary-orange);
}

.br-line {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #85817a;
  position: relative;
  top: -25px;
}

.favourite-salad > a {
  background-color: var(--primary-orange);
  padding: 10px 20px;
  width: 90%;
  margin-left: 5%;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

/* suggested-food */
.suggested-food {
  width: 48%;
}
.suggested-food > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.suggested-food > ul > li {
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 48%;
  margin-bottom: 4%;
  position: relative;
}
.suggested-food > ul > li:nth-child(1) {
  background-image: url(../images/suggested-fruits.jpg);
}
.suggested-food > ul > li:nth-child(2) {
  background-image: url(../images/suggested-breakfast.jpg);
}
.suggested-food > ul > li:nth-child(3) {
  background-image: url(../images/suggested-icecream.jpg);
}
.suggested-food > ul > li:nth-child(4) {
  background-image: url(../images/suggested-drink.jpg);
}
.suggested-food > ul > li:nth-child(5) {
  background-image: url(../images/suggested-salad.jpg);
}
.suggested-food > ul > li:nth-child(6) {
  background-image: url(../images/suggested-vine.jpg);
}

.suggested-food > ul > li > a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(15deg);

  color: white;
  background: linear-gradient(
    to bottom,
    #fc762360 0%,
    var(--primary-orange) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  filter: blur(10px);
}
.suggested-food > ul > li > a > h3 {
  font-family: "vidaloka";
  font-weight: 150;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.suggested-food > ul > li:hover > a {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotate(0deg);
  filter: blur(0);
}
