/* FONTS */
@font-face {
  font-family: "Catamaran";
  src: url(../fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Vidaloka";
  src: url(../fonts/Vidaloka/Vidaloka-Regular.ttf);
}
:root {
  --primary-orange: #fc7523;
  --primary-background: #f5f5f1;
  --primary-gray: #333338;
  font-family: Catamaran;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

header {
  background-color: var(--primary-background);
  padding: 30px 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #85817a;
}

.social > ul {
  display: flex;
}

/* ios botton */
.avada-app > li:first-child {
  margin-right: 5px;
}
.avada-app > li:nth-child(2) {
  background: var(--primary-orange);
  padding: 0px 7px;
  border-radius: 5px;
  margin-right: 5px;
}
.avada-app > li:nth-child(2) > a {
  transform: scale(5%);
  font-size: 12px;
  color: white;
}
.avada-app > li:nth-child(2) > a:hover {
  color: white;
}

/* download */
.avada-app > li {
  /* margin-right: 15px; */
  font-size: 14px;
}
.avada-app > li > a {
  color: #85817a;
  transition: all 0.5s;
}
.avada-app > li > a:hover {
  color: var(--primary-orange);
}

/* social icons */
.social-apps > li {
  font-size: 18px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  align-items: center;
  height: 28px;
  width: 28px;
  transition: all 0.5s;
}
.social-apps > li:hover {
  background-color: white;
  border-radius: 5px;
}
.social-apps > li > a > i {
  color: #85817a;
}

/* social icons tringle */
.social-apps > li:hover > a::before {
  border-bottom: 7px solid #333338;
}
.social-apps > li > a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  transition: all 0.5s;
}

/* social icons bottom */
.social-apps > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 20px);
  background-color: transparent;
  border-radius: 5px;
  font-size: small;
  color: transparent;
  padding: 5px;
  transition: all 0.5s;
}
.social-apps > li:hover > a::after {
  color: var(--primary-background);
  background-color: #333338;
}
.social-apps > li:nth-child(1) > a::after {
  content: "Facebook";
}
.social-apps > li:nth-child(2) > a::after {
  content: "Instagram";
}
.social-apps > li:nth-child(3) > a::after {
  content: "X";
}
.social-apps > li:nth-child(4) > a::after {
  content: "YouTube";
}
/* AVADA FOOD LOGO */
.social .logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../images/avada-food-logo.svg);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: top center;
}

/* PAGES NAV */
.navigation > label > i {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.navigation {
  margin-top: 120px;
}
.menu {
  z-index: 10;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  gap: 50px;
}
.menu > li > a {
  color: #333338;
  padding: 12px;
  /* margin: 17px; */
  transition: all 0.5s;
  position: relative;
}
.menu > li > a:hover {
  color: var(--primary-orange);
}
.menu > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-orange);
  transition: all 0.3s;
}
.navigation > ul > li > a:hover::after {
  width: 100%;
}
/* home page botton */
#selected {
  color: var(--primary-orange);
}
#selected::after {
  width: 100%;
}

/* hide search box */
#search-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* TODAYS PICKS - h1 section */
.top-restaurant {
  height: 85vh;
  width: 100%;
  background: url(../images/todays-picks.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.todays-picks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  max-width: 700px;
  padding: 50px 0;
}
.todays-picks > h1 {
  font-size: 40px;
  font-family: "Vidaloka";
  font-weight: 100;
}
.todays-picks > span {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-orange);
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
.todays-picks > time {
  color: #85817a;
}

/* foodie journal */

.foodie-journal > .container {
  background-color: white;
  position: relative;
  top: -80px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.foodie-journal > .container > section {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cacaca;
  margin: 0 auto 40px auto;
  width: 90%;
}
.foodie-journal > .container > section > h2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  background: white;
  width: fit-content;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.food-types {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3vw;
  text-align: center;
}
.foodie-image {
  overflow: hidden;
  margin-bottom: 20px;
}
.foodie-image > img {
  width: 100%;
  cursor: pointer;
  object-position: center center;
  transition: all 0.5s;
  overflow: hidden;
}
.foodie-image > img:hover {
  transform: scale(1.1);
}

.food-types > section > h3 {
  margin-bottom: 20px;
}
.food-types > section > h3 > a {
  color: #333338;
  font-family: "Vidaloka";
  font-weight: 500;
  transition: all 0.3s;
  padding: 0 10px;
}
.food-types > section > h3 > a:hover {
  color: var(--primary-orange);
}
.food-types > section > span > a {
  transition: all 0.5s;
}
.food-types > section > span:hover > a {
  color: var(--primary-orange);
}
.food-types > section > time {
  color: #85817a;
}

/* popular recipes */
.popular-recipes-text,
.culinary-collection-text {
  text-align: center;
  padding: 0 40px;
}
.popular-recipes-text > h2,
.culinary-collection-text > h2 {
  text-transform: uppercase;
  color: #333338;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.popular-recipes-text > p,
.culinary-collection-text > p {
  color: #85817a;
  font-size: 17;
  margin-bottom: 70px;
}

.popular-recipes-inner {
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}

/* favourite-salad */
.favourite-salad {
  background-color: white;
  cursor: pointer;
  transition: all 0.4s;
  padding-bottom: 35px;
  width: 48%;
  margin-bottom: 50px;
}
.favourite-salad:hover {
  transform: scale(1.035);
}
.favourite-salad > img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 35px;
}
.favourite-salad h3,
.favourite-salad p,
.favourite-salad > a {
  width: 90%;
  margin: 0 auto;
}
.favourite-salad > h3 {
  margin-bottom: 8px;
}
.favourite-salad > h3 > a {
  font-family: "vidaloka";
  font-size: 22px;
  font-weight: 550;
  transition: all 0.4s;
}
.favourite-salad > h3 > a:hover {
  color: var(--primary-orange);
}

.favourite-salad > p,
.favourite-salad > p > a {
  color: #85817a;
  margin-bottom: 50px;
  transition: all 0.4s;
}
.favourite-salad > p > a:hover {
  color: var(--primary-orange);
}

.br-line {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #85817a;
  position: relative;
  top: -25px;
}

.favourite-salad > a {
  background-color: var(--primary-orange);
  padding: 10px 20px;
  width: 90%;
  margin-left: 5%;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

/* suggested-food */
.suggested-food {
  width: 48%;
  margin-bottom: 30px;
}
.suggested-food > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.suggested-food > ul > li {
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 48%;
  margin-bottom: 4%;
  position: relative;
}
.suggested-food > ul > li:nth-child(1) {
  background-image: url(../images/suggested-fruits.jpg);
}
.suggested-food > ul > li:nth-child(2) {
  background-image: url(../images/suggested-breakfast.jpg);
}
.suggested-food > ul > li:nth-child(3) {
  background-image: url(../images/suggested-icecream.jpg);
}
.suggested-food > ul > li:nth-child(4) {
  background-image: url(../images/suggested-drink.jpg);
}
.suggested-food > ul > li:nth-child(5) {
  background-image: url(../images/suggested-salad.jpg);
}
.suggested-food > ul > li:nth-child(6) {
  background-image: url(../images/suggested-vine.jpg);
}

.suggested-food > ul > li > a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(15deg);

  color: white;
  background: linear-gradient(
    to bottom,
    #fc762360 0%,
    var(--primary-orange) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  filter: blur(10px);
}
.suggested-food > ul > li > a > h3 {
  font-family: "vidaloka";
  font-weight: 150;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.suggested-food > ul > li:hover > a {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotate(0deg);
  filter: blur(0);
}

/* CULINARY COLLECTION */

.culinary-collection-inner > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.culinary-collection-inner > ul > li {
  width: 22%;
  background-color: white;
  margin-bottom: 4%;
  border-radius: 10px;
}
.culinary-collection-inner > ul > li > a {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}
.culinary-collection-inner > ul > li > a > img {
  width: 40%;
  transition: all 0.3s;
  cursor: pointer;
}
.culinary-collection-inner > ul > li > a:hover > img {
  transform: scale(1.15);
}
.culinary-collection-inner > ul > li > a > span {
  display: flex;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  padding: 5px 15px;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}
.culinary-collection-inner > ul > li > a > span:hover {
  background-color: var(--primary-orange);
  color: white;
}

/* farm to table */
.farm-to-table {
  margin-top: 100px;
}

.farm-to-table-text {
  display: flex;
  flex-wrap: wrap;
}
.farm-to-table-text > h2 {
  width: 60%;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 2px;
  color: #333338;
}
.farm-to-table-text > p {
  color: #85817a;
  width: 50%;
  margin-top: 15px;
}

.read-our-blog {
  width: 50%;
  text-align: right;
}

.read-our-blog > a {
  padding: 8px 30px;
  background-color: var(--primary-orange);
  position: relative;
  top: -30px;
  text-transform: uppercase;
  color: white;
  border-radius: 7px;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 15px;
}
.read-our-blog > a:hover {
  background-color: #ff6200;
}

/* food corner of farm to table is like .favourite-salad section and use of that */
.farm-to-table-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4%;
}
.farm-to-table-inner > div {
  width: 63%;
}
.farm-to-table-inner > div > .favourite-salad {
  margin-top: 55px;
  width: 100%;
}
.farm-to-table-inner > div > .favourite-salad > p {
  margin-bottom: 20px;
}
.favourite-salad-p {
  margin-bottom: 40px !important;
}

/* .suggested-food-2 */
.suggested-food-2 > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
}
.suggested-food-2 > ul > li {
  width: 47%;
}
.suggested-food-2 > ul > li > img {
  width: 100%;
}

.suggested-food-2 > ul > li {
  background-color: white;
  margin-bottom: 6%;
  text-align: center;
  color: #85817a;
  padding-bottom: 25px;
}

.suggested-food-2 > ul > li > h3 {
  padding: 15px 25px;
  font-family: "vidaloka";
  font-weight: 500;
  font-size: 22px;
}
.suggested-food-2 > ul > li > h3 > a {
  transition: all 0.4s;
}
.suggested-food-2 > ul > li > h3:hover > a {
  color: var(--primary-orange);
}
.suggested-food-2 > ul > li > a {
  color: #85817a;
}

/* ad section and ad */
.farm-to-table-inner > aside {
  width: 33%;

  margin-top: 55px;
}
.latest-recipes {
  background-image: url(../images/ad-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}
.latest-recipes > span {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  color: #333338;
  width: 150px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.city-guide {
  background-image: url(../images/singapore-featured-image2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
  position: relative;
  margin-bottom: 60px;
}
.city-guide > span {
  background-color: #333338b2;
  color: white;
  padding: 5px 15px;
  font-size: 25px;
  text-transform: capitalize;
  position: relative;
  top: 50%;
}
.city-guide > a {
  position: absolute;
  background-color: var(--primary-orange);
  top: 100%;
  left: 0%;
  width: 100%;
  text-align: center;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.city-guide > a > i {
  padding-right: 5px;
}

.ad > .br-line {
  width: 100%;
  top: 0%;
  border-top: 1px solid #b5b5b5;
  margin-bottom: 25px;
}

.search-box2 {
  position: relative;
  margin-bottom: 25px;
}
.search-box2 > a > i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #85817a;
}
#search-box2 {
  font-size: medium;
  width: 100%;
  padding: 15px;
  padding-left: 50px;
  border-radius: 10px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  transition: all 0.15s;
}
#search-box2:focus {
  box-shadow: 0 0 10px var(--primary-orange);
  outline: 1px solid var(--primary-orange);
}

.ad > .social-apps {
  display: flex;
  /* background-color: red; */
  gap: 5%;
}
.ad > .social-apps > li {
  /* background-color: aqua; */
  margin: 0%;
}

.suggested-citys {
  display: flex;
  flex-wrap: wrap;
}
.suggested-citys > a {
  width: 50%;
  text-align: center;
  border: 1px solid #3333383c;
  text-transform: capitalize;
  padding: 10px 0;
  margin: 25px 0;
  font-family: "vidaloka";
}
.city-weblogs {
  padding: 10px 0 60px 0;
}
.city-weblogs > li {
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  height: 60px;
  margin: 20px 0;
}
.city-weblogs > li > .text {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-evenly;
}
.city-weblogs > li img {
  border-radius: 50%;
}
.city-weblogs > li > .text > time {
  color: #85817a;
}
.city-weblogs > li > .text > a {
  transition: all 0.4s;
}
.city-weblogs > li > .text > a:hover {
  color: var(--primary-orange);
}

/* subscribe section  */
.subscribe {
  background-image: url(../images/subscribe-sec-bg.png);
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 40px;
}

.subscribe > h3 {
  font-size: 30px;
  font-family: "vidaloka";
  font-weight: 570;
}

.subscribe > h3 > span {
  color: var(--primary-orange);
}
.subscribe > p {
  width: 500px;
  text-align: center;
  color: #85817a;
}
.subscribe > div > a {
  padding: 10px 30px;
  background-color: var(--primary-orange);
  color: white;
  border-radius: 10px;
}
.subscribe > div > input {
  padding: 13px 30vw 13px 15px;
  border-radius: 10px;
  /* width: 40; */
  border: 2px solid rgb(207, 207, 207);
  outline: none;
  transition: all 0.15s;
}
.suggested-food3 > div {
  width: 100%;
}
.suggested-food3 > div > ul {
  gap: 0;
}
.suggested-food3 > .suggested-food > ul > li {
  width: 25%;
  gap: 0;
  height: 350px;
  margin-bottom: 0;
}
